[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
detemplater = {editable = true, git = "https://github.com/GSS-Cogs/de-templater"}

[dev-packages]

[requires]
python_version = "3.8"
